<!DOCTYPE html>
<html lang="en">
  <head>
  
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Image Guessing Game">
    <meta name="author" content="Max-IT AS">

	<script> $page = "login"; </script>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- MDBootstrap Datatables  -->
	<link href="css/addons/datatables.min.css" rel="stylesheet">
	<link th:href="@{/css/style.css}"  rel="stylesheet" type="text/css" />
    <link th:href="@{/css/main.css}" rel="stylesheet">
		<title> Image Guessing Game </title>
	</head>
	<body class="text-center" style="background-color: #c5c3c7;">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

	<div class="fadeIn first" id="formHeader">
	  <h1>Image Guessing Game Hiscore</h1>
    </div>
<table id="hiscorelist" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Name  </th>
      <th class="th-sm">Score </th>
    </tr>

  </thead>
  <tbody>
  	<tr th:each="name,iter : ${names}">
      <th th:text="@{|${name}|}">Name  </th>
      <th th:text="${scores[iter.index]}">Score </th>
    </tr>
  </tbody>
</table>
  </div>
</div>
<div id="NewGameDiv" class="fadeIn first d-none">
	<button id="newGame_btn" onclick="goNewGame()" class="btn btn-success btn-lg custom-btn fadeIn fourth" name="ai_btn">New game</button>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- MDBootstrap Datatables  -->
	<script th:src="@{/js/datatables.min.js}" crossorigin="anonymous" type="text/javascript" ></script>
    <script th:src="@{/js/imgGuess.js}" crossorigin="anonymous"></script>
    <script th:src="@{/js/js.cookie.js}" crossorigin="anonymous"></script>
  </body>
</html>